<div id="bar">
    <button hx-get="/templates/{{ template.id }}/edit">Edit</button>
    <button hx-delete="/templates/{{ template.id }}">Delete</button>
</div>
<h2>{{ template.title }}</h2>
<p>Title</p><p>{{ template.title }}</p>