<h2>New Template</h2>
<form hx-boost="true" hx-post="/templates" hx-ext="json-enc">
    <label for="title">Title</label>
    <input name="title" type="text" placeholder="Template title">
    <button type="submit">Submit</button>
</form>