<h2>New Template</h2>
<form hx-boost="true" action="/templates" method="post">
    <label for="title">Title</label>
    <input name="title" type="text" placeholder="{{ template.title }}">
    <button type="submit">Submit</button>
</form>