<form hx-post="/templates/{{ template.id }}/steps/new" hx-ext="json-enc">
    <label for="title">Title</label>
    <input name="title" type="text" placeholder="Step title">
    <button type="submit">Submit</button>
</form>
