<form hx-boost="true" hx-put="/templates/{{ template.id }}" hx-ext="json-enc">
    <label for="title">Title</label>
    <input name="title" type="text" value="{{ template.title }}">
    <button type="submit">Submit</button>
</form>