{#def templates #}

<div class="grid grid-cols-4 gap-4 p-4">
    {% for template in templates %}
    <div class="border border-solid border-black rounded p-2" hx-target="this">
        <a href="/templates/{{ template.id }}">
            <h3>{{ template.title }}</h3>
        </a>
        <a href="/templates/{{ template.id }}/edit"
            role="button"
            class="btn btn-outline btn-primary">
            Edit
        </a>
        <button
            class="btn btn-outline btn-error"
            hx-delete="/templates/list/{{ template.id }}" hx-swap="delete">Delete</button>
    </div>
    {% endfor %}
</div>
