{#def template, steps #}

{% for step in steps %}
<div id="template-step-{{ step.id }}" hx-target="this">
    <h3>{{ step.title }}</h3>
    <button>Edit</button>
    <button>Delete</button>
</div>
{% endfor %}
<div hx-target="this">
    <button hx-get="/templates/{{ template.id }}/steps/new">Create</button>
</div>
