{#def template #}

<div id="controls">
    <button class="btn btn-primary" hx-get="/templates/{{ template.id }}/edit" hx-target="#template">Edit</button>
    <a role="button" class="btn btn-primary" href="/templates/{{ template.id }}/runbook" hx-post="/templates/{{ template.id }}/runbook">New Runbook</a>
    <a class="btn btn-outline btn-error" href="/templates/{{ template.id }}" hx-delete="/templates/{{ template.id }}">Delete</a>
</div>
