{#def template #}

<div id="controls">
    <button hx-get="/templates/{{ template.id }}/edit" hx-target="#template">Edit</button>
    <button hx-delete="/templates/{{ template.id }}" hx-push-url="/templates" hx-target="#content" hx-swap="innerHTML">Delete</button>
</div>
