{#def template, steps #}

<templates.ViewTemplateControls template={{ template }} />
<div id="template">
    <templates.ViewTemplate template={{ template }} />
</div>
<div id="steps">
    <templates.TemplateStepsList template={{ template }} steps={{ steps }} />
</div>
