{#def template, steps #}

<div class="flex flex-row m-4 p-2 max-dvw border border-solid border-black rounded">
    <templates.ViewTemplateControls template={{ template }} />
</div>
<div id="template" hx-target="this">
    <templates.ViewTemplate template={{ template }} />
</div>
<div id="steps">
    <template_steps.TemplateStepsList template_id={{ template.id }} steps={{ steps }} />
</div>