{% extends "base.html.jinja2" %}
{% block content %}
<div id="controls">
    <button hx-get="/templates/{{ template.id }}/edit" hx-target="#template">Edit</button>
    <button hx-delete="/templates/{{ template.id }}" hx-push-url="/templates" hx-target="#content" hx-swap="innerHTML">Delete</button>
</div>
<div id="template">
{% block template %}
    <h2>{{ template.title }}</h2>
    <p>Title</p><p>{{ template.title }}</p>
{% endblock %}
</div>
<div id="steps" hx-target="this" hx-get="/templates/{{ template.id }}/steps" hx-trigger="load">
{% block template_steps %}
    {% for step in steps %}
    <div id="template-step-{{ step.id }}" hx-target="this">
        <h3>{{ step.title }}</h3>
        <button>Edit</button>
        <button>Delete</button>
    </div>
    {% endfor %}
    <div hx-target="this">
        <button hx-get="/templates/{{ template.id }}/steps/new">Create</button>
    </div>
{% endblock %}
</div>
{% endblock %}
