{% extends "base.html.jinja2" %}
{% block content %}
    <h2>Templates</h2>
    <div id="panel">
        <a href="/templates/new">New</a>
    </div>
    {% include "fragments/templates-list.html.jinja2" %}
{% endblock %}
