{% extends "base.html.jinja2" %}
{% block content %}
    <h2>Templates</h2>
    <div id="panel">
        <a href="/templates/new">New</a>
    </div>
    <ul>
    {% for template in templates %}
        <li hx-target="this">
            <a href="/templates/{{ template.id }}"><h3>{{ template.title }}</h3></a>
            <button hx-delete="/templates/{{ template.id }}" hx-swap="delete">Delete</button>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
