{#def template_id, steps #}

{% for step in steps %}
<template_steps.TemplateStep template_id={{ template_id }} step={{ step }} />
{% endfor %}
<template_steps.CreateStepButton template_id={{ template_id }} />
