{#def template_id, steps #}

{% for step in steps %}
<details id="template-steps-{{ step.number }}">
    <summary>{{ step.title }}</summary>
    <button hx-get="/templates/{{ template_id }}/steps/{{ step.number }}">Edit</button>
    <button hx-delete="/templates/{{ template_id }}/steps/{{ step.number }}">Delete</button>
</details>
{% endfor %}
<div hx-target="this" hx-swap="innerHTML">
    <template_steps.CreateStepButton template_id={{ template_id }} />
</div>
