{#def template_id, steps #}

{% for step in steps %}
<details id="template-steps-{{ step.id }}">
    <summary>{{ step.title }}</summary>
</details>
{% endfor %}
<div hx-target="this" hx-swap="innerHTML">
    <template_steps.CreateStepButton template_id={{ template_id }} />
</div>
