<!DOCTYPE html>
<html lang="en">
<head>
    <title>Almost Automated</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.0/json-enc.js"></script>
</head>
<body>
    <div id="header"><h1>Almost Automated</h1></div>
    <div id="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/templates">Templates</a></li>
        </ul>
    </div>
    <div id="content" hx-target="this" hx-swap="innerHTML">{{ content }}</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
