<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <title>almost automated</title>
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.0/json-enc.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="/static/style.css" rel="stylesheet" />
</head>

<body>
    <div class="flex">
        <nav id="sidebar" class="menu w-1/6  min-h-screen py-4">
            <a href="/" class="menu-title text-neutral-content">almost <span class="text-primary">auto</span>mated</a>
            <ul>
                <li><a href="/runbooks" hx-get="/runbooks" hx-target="#content">Runbooks</a></li>
                <li><a href="/templates" hx-get="/templates" hx-target="#content">Templates</a></li>
            </ul>
        </nav>
        <div id="content" class="w-full py-4" hx-target="this">{{ content }}</div>
    </div>
</body>

</html>
