{#def template, steps #}

<Base>
    <templates.ViewTemplateAndSteps template={{ template }} steps={{ steps }} />
    <div hx-target="this">
        <template_steps.CreateStepButton template_id={{ template.id }} />
    </div>
</Base>
