{#def runbook_id, step #}

<details>
    <summary>{{ step.title }}
    <runbook_steps.ResultControl runbook_id={{ runbook_id }} step={{ step }} /></summary>
    <button hx-get="/runbooks/{{ runbook_id }}/steps/{{ step.number }}/edit">Edit</button>
</details>
