{#def runbook, steps #}

<runbooks.ControlPanel runbook_id={{ runbook.id }} status={{ runbook.result }} />

<h3>{{ runbook.title }}</h3>
<p>Status: {{ runbook.result }}</p>
<p>Created: <span x-data="{date: new Date($el.innerText)}" x-text="date.toLocaleString()">{{ runbook.created }}</span></p>
<p>Updated: <span x-data="{date: new Date($el.innerText)}" x-text="date.toLocaleString()">{{ runbook.updated }}</span></p>
<h4>Steps</h4>
<ul>
    {% for step in steps %}
    <li hx-target="this">
        <runbook_steps.Step runbook_id={{ runbook.id }} step={{ step }} />
    </li>
    {% endfor %}
</ul>
