{#def runbook, steps #}

<runbooks.ControlPanel runbook_id={{ runbook.id }} status={{ runbook.result }} />

<h3>{{ runbook.title }}</h3>
<p>Status: {{ runbook.result }}</p>
<p>Created: {{ runbook.created }}</p>
<p>Updated: {{ runbook.updated }}</p>
<h4>Steps</h4>
<ul>
    {% for step in steps %}
    <runbook_steps.Step runbook_id={{ runbook.id }} step={{ step }} />
    {% endfor %}
</ul>
